# ignore basic python artifacts
.env
**/__pycache__/
**/*.py[cod]
**/*$py.class
# ignore duckdb
*.duckdb
*.wal

duckdb.csv
pypi_file_downloads.csv

# devtools
.ruff_cache
.pytest_cache

# dbt
target/
dbt_packages/
logs/